<div class="login" ng-cloak>
	<link rel="stylesheet" type="text/css" href="./dist/routes/login/login.css" >
	<h1>Log In</h1>
	<form ng-if="!login.loggedIn">
        <label for="username">Username (*)</label><br>
        <input type="text" name="username" ng-model="login.user.username" placeholder="Username"><br>
         <label for="username">password (*)</label><br>
        <input type="password" name="password" ng-model="login.user.password" placeholder="Password"><br>
        <button type="submit" ng-click="login.login()">Login</button>
    </form>
    <div ng-if="login.loggedIn">
        Im logged, my username is {{login.user.username}}
    </div>
</div>