@import '../../styles/mixins/main';
@import '../../styles/modules/main';

.login{
	margin:5% 40%;
	input{
		width:250px;
		height:40px;
		margin:10px 0px;
		padding:0px 10px;
	}
	button{
		background:$black;
		color:white;
		border:none;
		cursor:pointer;
		width:275px;
		height:40px;
		margin:10px 0px;
		padding:0px 10px;	
	}
	h1{
		color:$black;	
	}
}